DATABASE_URL="mysql://dashboard_user:dashboard_pass@localhost:3307/dashboard"
SHADOW_DATABASE_URL="mysql://root:rootpass@localhost:3307/dashboard_shadow"

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=USER
DATABASE_PASSWORD=PASSWORD
DATABASE_NAME=DB_NAME
